<section class="pre-footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <img src="images/pre-footer.png" alt="">
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <img src="images/logo-footer.png" width="100" alt="">
                <h6 class="mt-4 mb-0">CALL CENTER</h6>
                <h5>600 6000 115</h5>
                <p>Av. El retiro 9800 Parque industrial Los Maitenes Pudahuel, Santiago</p>
            </div>
            <div class="col-12 col-md-3">
                <p class="titulo-seccion mb-3">Atención al cliente</p>
                <ul class="list-unstyled">
                    <li><a href="">Cobertura de Riesgo</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Glosario de Términos</a></li>
                    <li><a href="">Mercancias Peligrosas</a></li>
                </ul>

            </div>
            <div class="col-12 col-md-3">
                <p class="titulo-seccion mb-3">Nosotros</p>
                <ul class="list-unstyled">
                    <li><a href="">Nuestra Historia</a></li>
                    <li><a href="">Misión y Visión</a></li>
                    <li><a href="">Pilares y Competencias</a></li>
                    <li><a href="">Nuestra Tecnología</a></li>
                    <li><a href="">Integración Web Services</a></li>
                    <li><a href="">Política Integrada</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <p class="titulo-seccion mb-3">Contáctenos</p>
                <ul class="list-unstyled">
                    <li><a href="">Solicitud de Ejecutivo</a></li>
                </ul>
            </div>
            <div class="col-12 text-center mt-5">
                <p>©2020 Blue Express. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>