<!-- Home dashboard  -->
<div ng-controller="loginCtrl as lCtrl" class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;">
	<form name="myForm" novalidate>
		<div class="container mb-5" id="paso1" name="paso1">
			<div class="row align-items-center cards-dashboard">
				<div class="col-12 text-center mb-5">
					<h1 class="mb-4 text-grey font-ligth">Administrador</h1>
				</div>
				<div class="col-3 text-center">
					<a href="#" class="card">
						<img src="images/reportes.svg" alt="" width="80" class="m-auto">
						<h2>Reportes</h2>
					</a>
				</div>
				<div class="col-3 text-center">
					<a href="#" class="card">
						<img src="images/dashboard.svg" alt="" width="80" class="m-auto">
						<h2>Dashboard</h2>
					</a>
				</div>
				<div class="col-3 text-center">
					<a href="#" class="card">
						<img src="images/personalizar-sitio.svg" alt="" width="65" class="m-auto">
						<h2>Personalizar sitio</h2>
					</a>
				</div>
				<div class="col-3 text-center">
					<a href="#" class="card">
						<img src="images/panel-administracion.svg" alt="" width="80" class="m-auto">
						<h2>Panel de administración</h2>
					</a>
				</div>
			</div>
		</div>
	</form>
</div>
