<!-- Personalizar sitio  -->
<div ng-controller="ingresoCtrl as inCtrl" ng-init="inCtrl.ocultar()" class="clean-body m-0 p-0">
	<section class="hero-msg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-9">
							<!-- Texto antes de haer click en editar  -->
							<div class="devolucion-texto d-flex align-items-center">
								<h2 class="d-inline-block">Devolución Web</h2>
								<div class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li><a href="#" class="text-grey d-block mb-1">
											<img src="images/editar-texto.svg" width="20" alt="">
											<span>Editar texto</span>
											</a>
										</li>
										<li>
											<a href="#" class="text-grey d-block">
												<img src="images/cambiar-color.svg" width="16" alt="" class="">
												<span class="ml-1">Cambiar color</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Texto despue de ehacer click en editar  -->
							<div class="devolucion-texto-editar d-none">
								<form class="w-50">
									<div class="form-group mb-1">
									  <input type="email" class="form-control" id="" value="Devolución web" aria-describedby="emailHelp">
									</div>
								</form>
								<div class="card-edicion mt-1">
									<ul class="list-unstyled text-left">
										<li>
											<a href="#" class="text-grey d-block">
											<img src="images/editar-texto.svg" width="27" alt="">
											<span>Guardar texto</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-3 text-right">
							<div class="card-edicion ml-1">
								<ul class="list-unstyled text-left">
									<li>
										<a href="#" class="text-grey d-block mb-1">
											<img src="images/subir.svg" width="20" alt="">
											<span>Subir imagen</span>
										</a>
									</li>
									<li>
										<a href="#" class="text-grey d-block">
											<img src="images/eliminar.svg" width="23" alt="" class="ml-n1">
											<span>Eliminar imagen</span>
										</a>
									</li>
								</ul>
							</div>
							<img src="images/box-header.png"  height="53" alt="" class="mt-n3">
						</div>
					</div>
				</div>
				<div class="col-12">
					<hr>
				</div>
				<div class="col-12">
					<div class="row">
						<div class="col-10">
							<!-- Texto antes de haer click en editar  -->
							<div class="devolucion-texto d-flex align-items-center">
								<h6 class="d-inline-block vertical-align-middle">
									¿Necesitas realizar una devolución? Completa el siguiente
									formulario:
								</h6>
								<div class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li><a href="#" class="text-grey d-block mb-1">
											<img src="images/editar-texto.svg" width="20" alt="">
											<span>Editar texto</span>
											</a>
										</li>
										<li>
											<a href="#" class="text-grey d-block">
												<img src="images/cambiar-color.svg" width="16" alt="" class="">
												<span class="ml-1">Cambiar color</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Texto despue de ehacer click en editar  -->
							<div class="devolucion-texto-editar d-none">
								<form>
									<div class="form-group">
									  <input type="email" class="form-control" id="" value="¿Necesitas realizar una devolución? Completa el siguiente formulario:">
									</div>
								</form>
								<div class="card-edicion ml-1">
									<ul class="list-unstyled text-left">
										<li>
											<a href="#" class="text-grey d-block">
											<img src="images/editar-texto.svg" width="27" alt="">
											<span>Guardar texto</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-2">
							<button type="button" class="btn btn-light mt-2">
								<img src="images/cambiar-color.svg" width="16" alt="" class="mt-n1">
								Cambiar color de fondo
							</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<form name="myForm">
		<div class="container mb-5" id="paso1" name="paso1">
			<section class="etapas">
				<div class="row justify-content-center mb-5 mt-2">
					<div class="col-4 pr-0">
						<div class="paso paso-uno align-items-start active">
							<h5>PASO 1</h5>
							<div class="circulo"></div>
							<div class="linea"></div>
						</div>
						<button type="button" class="btn btn-light mt-n3">
							<img src="images/cambiar-color.svg" width="16" alt="" class="mt-n1">
							Cambiar color paso 1
						</button>
					</div>
					<div class="col-4 px-0">
						<div class="paso paso-tres align-items-end ">
							<h5>PASO 2</h5>
							<div class="circulo"></div>
							<div class="linea"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="inputs-forms mt-1">
				<div class="row justify-content-center">
					<!-- Texto sin editar  -->
					<div class="edicion-texto col-12 col-md-10 pl-0">
						<h5 class="d-flex align-items-center">DATOS DEL PRODUCTO
							<div class="card-edicion ml-1">
								<ul class="list-unstyled text-left">
									<li><a href="#" class="text-grey d-block mb-1">
										<img src="images/editar-texto.svg" width="20" alt="">
										<span>Editar texto</span>
										</a>
									</li>
								</ul>
							</div>
						</h5> 
					</div>
					<!-- Texto en modo edicion  -->
					<div class="col-12 col-md-10 pl-0 edicion-texto-activo pb-3 d-none">
						<form>
							<div class="form-group mb-2">
							  <input type="email" class="form-control" id="" value="DATOS DEL PRODUCTO">
							</div>
						</form>
						<div class="card-edicion">
							<ul class="list-unstyled text-left">
								<li>
									<a href="#" class="text-grey d-block">
									<img src="images/editar-texto.svg" width="27" alt="">
									<span>Guardar texto</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-10 px-5 py-3 card-white">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="ordenCompra">Número de Orden de Compra*</label> <span
										class="f-tooltip float-right">i</span> <input type="text" class="form-control"
										name="ordenCompra" required ng-model="inCtrl.formData.ordenCompra"
										placeholder="Ej: AC00112233">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="tipoProducto">Tipo de Producto*</label> <input type="text"
										class="form-control" id="tipoProducto" ng-model="inCtrl.formData.tipoProducto"
										required placeholder="Ej: Ropa, Electrodomesticos, etc">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="codigoMotivo">Motivo*</label> <select id="codigoMotivo"
										class="form-control" required ng-init="inCtrl.cargarMotivos()"
										ng-model="inCtrl.formData.codigoMotivo"
										ng-options="option.nombreMotivo for option in inCtrl.formData.motivos track by option.codigoMotivo">
									</select>
								</div>
							</div>
							<div class="col-12 text-right">
								<p>*Campos obligatorios</p>
							</div>
							<div class="col-12">
								<button ng-click="inCtrl.goPasoDos()" type="button" class="btn btn-primary btn-lg btn-block btn-validar">
									Validar
									<div class="card-edicion">
										<ul class="list-unstyled text-left">
											<li>
												<a href="#" class="text-grey d-block">
													<img src="images/cambiar-color.svg" width="16" alt="" class="">
													<span class="ml-1">Cambiar color</span>
												</a>
											</li>
										</ul>
									</div>
								</button>
								<!-- boton loading  -->
								<button type="button" class="btn btn-primary btn-lg btn-block btn-validar">
									<div class="spinner-button">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</button>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
		<div class="barra-follower">
			<div class="row px-4 py-3">
				<div class="col-6 pt-1 pl-4">
					<form action="">
						<div class="custom-control custom-switch custom-switch-lg custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="integralo-en-tu-sitio">
							<label class="custom-control-label text-white" for="integralo-en-tu-sitio">Integralo en tu sitio</label>
						</div>
						<div class="custom-control custom-switch custom-control-inline">
							<input type="checkbox" class="custom-control-input" id="ocultar-edicion">
							<label class="custom-control-label text-white" for="ocultar-edicion">Ocultar edición</label>
						</div>
					</form>
				</div>
				<div class="col-6 text-right">
					<button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#exampleModal">Volver</button>
					<button type="button" class="btn btn-success">Guardar cambios</button>
				</div>
			</div>
		</div>
	</form>
	<!-- Modal salir sin guardar  -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title text-body" id="exampleModalLabel">¿Deseas salir sin guardar?</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<p>No se guardaran los cambios realizados</p>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary">Salir sin guardar</button>
			</div>
		</div>
		</div>
	</div>
</div>